.modal-container {
    overflow-y: hidden;
    color: #424242;
}


.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(49,49,49,0.8);
    /* overflow-y: auto; */
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #fff;
    padding: 24px 80px;
    border-radius: 16px;
    width: 50%;
    /* height: 90%; */
    overflow-y: auto;
    /* min-width: 300px; */  
}
  


header .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    cursor: pointer;
    height: 32px;
    width: 32px;
}

.active-modal{
    overflow: hidden;
}

@media screen and (max-width: 720px) {
    
    
    .modal-content {
        box-sizing:border-box;
        /* position: absolute; */
        line-height: 1.4;
        background: #fff;
        padding: 24px;
        
        border-radius: 0;
        width: 100%;
        height: 100%; 
        /* overflow-y: auto; */
        margin: auto;

    }
    /* .login-details {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width:100%;
        margin: auto;
        background-color: #fff;
        
        

        
        

    } */
    /* body, .container {
        position: fixed;
        overflow: hidden;
        height: 100%;
        width:100%;
        margin:auto;
    
    
    } */
    .modal{
        width:100vw;
        overflow: hidden;
    }
    
  }

.account-cta span  {
    color: #89369E;
    font-weight: 700;
    text-decoration: underline;
}
.custom-link:focus  {
    color:#89369E;
}

.input-field {
    display: flex;
    width: -webkit-fill-available;
    height: 44px;
    padding: 0px 16px;
    align-items: center;
    flex-shrink: 0;
    border-radius: var(--Spacing-System-Corner-radius-Radius-8, 8px);
    border: 1px solid var(--primary-180, #353535);
}

.input-field:focus {
    border: 2px solid #89369E;
    outline: none;
}

.login-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* border-right: 2px solid rgba(83, 35, 95, 1);
    padding-right: 48px; */
}
form {
    display: flex;
    flex-direction: column;
    gap:16px;
}
.user-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;

}


img {
    width: 628px;
    height: 464px;
    flex-shrink: 0;
}

.googlebutton {
    display: flex;
    gap: 8px;
    align-items: center;
}
.googlebutton img {
    height: 24px;
    width: 24px;
}
header h1 {
    text-align: center;
    font-size: 24px;
}
p {
    font-size: 14px;
}
.error-message {
    font-size: 12px;
    color: red;
}
.user-detail .icon {
    width: 24px;
    height: 24px;
    color: #353535;
    position: absolute;
    top: 50%;
    bottom: 50%;
    /* transform: translateY(-50%); */
    right: 16px;
    cursor: pointer;
}
.terms {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
}

.terms input {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #8A8A8A;
    background: #FFF;
}
.terms input:checked {
    background-color: #89369E;
}
