body.active-modal {
    overflow-y: hidden;
    color: #424242;
}


.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(49,49,49,0.8);
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #fff;
    padding: 24px 98px;
    border-radius: 4px;
    width: 50%;
    /* min-width: 300px; */
    
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.account-cta span  {
    color: #89369E;
    font-weight: 700;
    text-decoration: underline;
}

.container {
    margin: 70px auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgba(254, 248, 244, 1);
    padding: 40px 0;
    background-image: url('/src/assets/4.png');


}
.container div {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 580px;
}
.container h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-height: 120px;
}



.input-field {
    display: flex;
    width: -webkit-fill-available;
    height: 44px;
    padding: 0px 16px;
    align-items: center;
    flex-shrink: 0;
    border-radius: var(--Spacing-System-Corner-radius-Radius-8, 8px);
    border: 1px solid var(--primary-180, #353535);
}

.input-field:focus {
    border: 2px solid #89369E;
    outline: none;
}

.login-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* border-right: 2px solid rgba(83, 35, 95, 1);
    padding-right: 48px; */
}
form {
    display: flex;
    flex-direction: column;
    gap:24px;
}
.user-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;

}


img {
    width: 628px;
    height: 464px;
    flex-shrink: 0;
}

.googlebutton {
    display: flex;
    gap: 8px;
    align-items: center;
}
.googlebutton img {
    height: 24px;
    width: 24px;
}
header h1 {
    text-align: center;
    font-size: 24px;
}
p {
    font-size: 14px;
}
.error-message {
    font-size: 12px;
    color: red;
}
.icon {
    width: 16px;
    height: 16px;
    color: #353535;
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    right: 16px;
    cursor: pointer;
}