body {
  padding:0;
  margin:0;
  background: var(--1secondary-30, #FDF4ED);
  /* background-color: #FDF4ED */
}


/*====================
      HEADER
======================*/
.quiz-header{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width:80%;
  margin-top: 24px;
}

.header-title{
  display: flex;
  flex-direction: column;
  width:100%;
  justify-content: center;
  align-items: center;
  gap:8px;
}
.back-button{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap:8px;
  justify-self: flex-start;
  cursor: pointer;
}



/*====================
      QUESTIONS
======================*/
.quiz-progress{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-box {
 margin:auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 overflow: auto;
 /* background: #FEF8F4; */
 gap:24px;
}

#question {
  color: #000;
  /* padding: 10px; */
}

#question p{
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
}

/*====================
      ANSWERS
======================*/

#answers ul{
  list-style-type: none;
  padding: 0;
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  gap: 24px;
}

#answers li {
  /* background-color: #fff;
  border: 2px solid #5F0C74;
  min-height: 70px;
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  transition: color .3s ease, border-color .3s ease, transform .3s ease; */
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* #answers li svg {
  width: 125px;
  height: 125px;
  stroke-width: 7px;
  stroke: #938377;
} */
#answers li span {
  background-color: #5F0C74;
  color: #fff;
  font-size: 30px;
  flex: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s ease;
}

#answers li p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  flex: calc(100% - 75px);
  margin:  auto 0 auto 20px;
  transition: color .3s ease;
  width: 100%;
}

#answers li:after{
  display: block;
}

#answers li:hover {
  transform: scale(1.03);
}

#answers li.right {
  border-color: #4CAF50;
  color: #fff;
  background-color: #4CAF50;
}

#answers li.right span {
  background-color: #4CAF50;
}

#answers li.right p {
  color: #fff;   
}

#answers li.wrong {
  border-color: #dc0a0a;
  color: #dc0a0a;
  background-color: #dc0a0a;
  animation: shake 1.0s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

#answers li.wrong span {
  background-color: #dc0a0a;
}

#answers li.wrong p {
  color: #fff;
  background-color: #dc0a0a;
}

#submit {
  text-align: center;
  margin: 20px 0;
}

@keyframes shake {
  10%, 90% {
      transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
      transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
      transform: translate3d(4px, 0, 0);
}
}

.fancy-btn {
  border: 2px solid #FF9800;
  border-radius: 0;
  background-color: #FF9800;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 75px;
  margin: 0 auto;
  text-transform: uppercase;
  transition: color .2s ease, background-color .2s ease;
}

.fancy-btn:hover {
  background-color: #fff;
  color: #0b0e21;
}


/*====================
      POPUP CSS
======================*/


.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.popup h1 {
  background-color: #FF9800;
  color: white;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  margin-top: 0;
}

.popup p {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 20px 10% 0;
}



/*====================
      FOOTER
======================*/

footer {
  padding:50px 0px;
  text-align: center;
  font-size: 60px;
  color:#ffffff;
  background: red;
}

footer .footer_copyright {
  font-size: 18px;
}

.footer_copyright a{
  text-decoration: none;
  color:#0094da;
  
}
.question-answers {
  position: relative;
  box-sizing: border-box;
  width: 80%;
  display: inline-flex;
  padding: 24px 86px 24px 86px;
  flex-direction: column;
  align-items: flex-start;
  gap:24px;
  border-radius: 16px;
  background: #FEFEFE;
  box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.30), 0px 2px 6px 2px rgba(77, 77, 77, 0.15);
  margin-bottom: 64px;
}

.svg-container {
  position: relative;
}

.checkmark-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon {
  width: 44px;
  height: 44px;
}
.scores-container{
  padding:16px;
  border:#5F0C74 1px solid;
  border-radius: 10px;
  /* width: 200px; */
  /* list-style-type: none; */
}
.score-bars{
  width: 100%;
}

.result{
  width:100%;
  padding: 40px;
  align-items: flex-start;
  border-radius: 8px;
  border: 0.5px solid #534A43;
  display: flex;
  flex-direction: column;
  gap:24px;
  margin-bottom: 80px;
}
.final-scores{
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-items: center; */
  gap:4px;
  width:100%;
  
}
.tracks-list{
  width:100%;
  font-size: 16px;
  font-weight:600;
  
}
.quiz-element{
  position:absolute;
  bottom:0;
  right:0;
}


@media screen and (max-width: 720px) {
  .quiz-box {
    margin:auto;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    /* background: #FEF8F4; */
    gap:24px;
   }
  .question-answers {
    padding: 24px;
    box-shadow: none;
    width:100%;
  }
  .question-answers .header-title {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .question-answers .header-title p {
    font-size: 12px;
    text-align: center;
  }
  .header-title h1 {
    font-size: 20px;
    margin: auto;
  }
  .quiz-element{
    width: 200px;
    height: 188px;
  }
  .btn{
    z-index: 1;
  }
  .progressbar {
    width:100px;
  }
  #question p {
    font-size: 14px;
    line-height: normal;
  }
  .quiz-header{
    width: 100%;
  }
  .back-button{
    gap:0;
  }
  .recommendations .recommendation {
    display: flex;
    flex-direction: column;
    gap:24px;
    width: 100%;
    align-items: center;
    padding: 40px 0;
    margin: 0;
  }
  .recommendation .recommendation-track{
    width:80%;
    padding: 60px 16px;
  }
  .recommendation .recommendation-track h1{
    font-size: 24px;
  }
  .recommendation .recommendation-track p{
    font-size: 12px;
  }
  .recommendations .recommendation .recommendation-message {
    align-items: flex-start;
    padding: 24px;
  }
  .recommendations .recommendation .recommendation-message .career-match {
    font-size: 16px;
  }
  .recommendation .recommendation-track .confetti1 {
    width: 100px;
    height: 100px;
  }
  .recommendation .recommendation-track .confetti2 {
    width: 100px;
    height: 100px;
  }
  .result{
    align-items:flex-start;
    padding: 24px;
  }
  .result h2 {
    font-size: 18px;
  }
  
}



.instructions-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* overflow: auto; */

}

.instruction-point {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
}

.bullet-point {
  width: 24px;
  height: 16px;
  transform: rotate(-45deg);
  background: linear-gradient(180deg, #89369E 0%, #F9DEC9 100%);
  margin-top: 4px;
}
.instruction {
  display: flex;
  flex-direction: column;
  gap:4px;
}
.instruction p {
  margin: 0;
  
}
.instruction div ol {
  display: flex;
  flex-direction: column;
  gap:16px;
}

.instruction div ul {
  list-style-type: lower-alpha;
  margin: 0;
}
.instruction div ul li span {
  font-weight: 600;
}
.instructions-CTA {
  width:100%;
  display: flex;
  justify-content: center;
}
.loader {
  width: 24px;
  height: 24px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

  /*====================
      FINAL RESULTS
======================*/
.recommendation {
  display: flex;
  flex-direction: row;
  /* display: inline-flex; */
  align-items: flex-start;
  gap: 58px;
  width:100%;
  margin: 48px 0;
}
.recommendation-track {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  background: #FEF8F4;
  box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.30), 0px 2px 6px 2px rgba(77, 77, 77, 0.15);
  padding: 100px 48px;
  flex-grow: 1;
  width:60%;
  position: relative;
  text-align: center;
}
.recommendation-message {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  background: #FEF8F4;
  box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.30), 0px 2px 6px 2px rgba(77, 77, 77, 0.15);
  padding: 54px 32px;
  flex-grow: 2;
  text-align: left;
  width:100%;
}
.recommendation-message .career-match {
  font-size: 20px;
  font-weight: 600;
}
.confetti1 {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  position: absolute;
  bottom:0;
  left:0;
}
.confetti2 {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  right: 0;
}