.fit {
    background: #FEF8F4;
    padding: var(--app-padding);
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.fit p {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #424242;
}