.container {
    background-color:#26052E;;
    /* padding: var(--app-padding); */
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: end; */
}

.logo {
    width: 202.608px;
        height: 126px;
        flex-shrink: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    margin: var(--app-margin);
    width: 93%;
}

.list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1rem;
}

.list li {
    font-size: 18px;
    font-weight: 500;
    line-height: 22.4px;
}

.list a {
    color: white;
    text-decoration: none;
}


.social {
    width: 24px;
    height: 24px;
}

.socials {
    width: 20px;
    height: 20px;
}

.sm {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #FFFFFF33;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.copyright {
    display: flex;
    /* width: 65%; */
    justify-content: space-between;
    /* justify-self: start; */
    margin: var(--app-margin);
}

.copyright a {
    color: white;
}

.initiative {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tech {
    width: 88px;
        height: 28px;
        background: url(<path-to-image>) lightgray 0px -31px / 100% 314.286% no-repeat;
}

@media (max-width:768px) {
    .top {
        margin: var(--app-margin);
        padding: var(--app-padding);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .logo {
        width: 79px;
            height: 49px;
            flex-shrink: 0;
    }

    .list {
        display: flex;
        flex-direction: row;
        width: 170px;
        flex-wrap: wrap;
    }

    .list li {
        font-size: 12px;
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        width: 98%;
        margin: var(--app-margin);
        padding: var(--app-padding);
    }

    .copyright p {
        font-size: 10px;
    }
}