.container {
    background-color: #5F0C74;
    padding: var(--app-padding);
}

.logo {
    display: flex;
        width: 123px;
        height: 145px;
        padding: 26px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 0px 0px 10px 10px;
            background: #FEF8F4;
}