.container {
    background-color:#26052E;;
    /* padding: var(--app-padding); */
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.logo {
    display: flex;
    width: 123px;
    height: 145px;
    padding: 26px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0px 0px 10px 10px;
    background: #FEF8F4;
    margin-top: -1.5rem;
}

.top {
    display: flex;
    justify-content: space-between;
    margin: var(--app-margin);
    width: 93%;
}

.list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1rem;
}

.list li {
    font-size: 18px;
    font-weight: 500;
    line-height: 22.4px;
}

.list a {
    color: white;
    text-decoration: none;
}


.social {
    width: 24px;
    height: 24px;
}

.socials {
    width: 20px;
    height: 20px;
}

.sm {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #FFFFFF33;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.copyright {
    display: flex;
    width: 65%;
    justify-content: space-between;
    /* justify-self: start; */
    margin: var(--app-margin);
}

.copyright a {
    color: white;
}

@media (max-width:768px) {
    .top {
        margin: var(--app-margin);
        padding: var(--app-padding);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .logo {
        display: flex;
            width: 42px;
            height: 46px;
            padding: 26px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }

    .list {
        display: flex;
        flex-direction: row;
        width: 170px;
        flex-wrap: wrap;
    }

    .list li {
        font-size: 12px;
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        width: 98%;
        margin: var(--app-margin);
        padding: var(--app-padding);
    }

    .copyright p {
        font-size: 10px;
    }
}