.container {
    margin-top: 2rem;
    overflow: hidden;
    /* width: 100%; */
    padding: var(--app-padding);
}

.wrapper {
    display: flex;
    overflow: hidden;
    gap: 1rem;
    width: 300px;
    transition: all 1s ease;
}

.images {
    width: 300px;
    height: 398px;
    overflow: hidden;
}

.images img {
    width: 300px;
    height: 398px;
}

@media (max-width: 768px) {
    .container {
            /* overflow: hidden; */
            overflow-x: scroll;
            padding: var(--app-padding);
            display: flex;
            flex-direction: row;
            
        }
    
    .wrapper {
            display: flex;
            overflow: hidden;
            gap: 1rem;
            width: 100%;
        }
}