:root {
  font-family: inter;
    line-height: 1.5;
    font-weight: 400;
  --app-padding: 0 50px;
  --app-margin: 0 50px;
  overflow: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  box-sizing: border-box;
  display: inline-flex;
  height: 44px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-primary {
  background: var(--primary-200, #89369E);
}
.btn-secondary {
  border: 0.5px solid var(--primary-180, #89369E);
  color: #89369E;
  background-color: transparent;
}
.btn-primary:hover {
  background: var(--primary-200, #5F0C74);
}
.btn-secondary:hover {
  border: 0.5px solid var(--primary-180, #5F0C74);
  color: #5F0C74;
}
.btn-primary:focus {
  box-shadow: 0px 4px 8px 3px rgba(77, 77, 77, 0.15), 0px 1px 3px 0px rgba(77, 77, 77, 0.30);
}
.btn-secondary:focus {
  background: var(--primary-200, #5F0C74);
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--app-padding);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #fefefe;

}

.navbar ul li {
  list-style-type: none;
}

.wtf-logo {
  width: 48px;
  height: 56px; 
}
.nav-links {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  font-size: 16px;
  font-weight: 600;
}
/* .nav-buttons {
  display: flex;
  align-items: flex-start;
  gap: 24px;
} */

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.jam-menu {
  width: 24px;
  height: 24px;
  display: none;
}

.progressbar{
	position: relative;
	overflow: hidden;
  width: 80%;
  height: 20px;
  border-radius: 16px;
  border: 2px solid #E3CFE8;
  background-color: #fff;
  /* display: flex; */
  /* flex-direction: row; */
}


.progressPercent{
	font-weight: 600;
  font-size: 14px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #5F0C74;
	/* text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555; */
  
}


@media (max-width: 720px) {
:root {
    --app-padding: 0 30px;
    --app-margin: 0 30px;
    font-size: 10px;
    overflow: auto;
    }
 
  .progressbar {
    width:100%;
  }

    .btn {
      width: 100%;
    }

  
}




.hamburger-icon {
  display: none;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  /* height:100%; */
  z-index: 1000;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.mobile-nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-nav-links li {
  margin-bottom: 0.5rem;
}


@media (max-width: 720px) {
  .wtf-logo {
    width: 32px;
    height: 40px; 
  }
  .nav-links {
    display: none; /* Hide the nav links */
  }

  .hamburger-icon {
    display: block; /* Show the hamburger icon */
  }

  .mobile-menu {
    display: none; /* Hide the mobile menu initially */
  }

  .mobile-menu.show {
    display: flex; /* Show the mobile menu when the hamburger is clicked */
    flex-direction: column;
    justify-content: space-between ;
    gap: 24px;

  }
  .nav-buttons {
    display: none;
  }

}